*volumetricMeshFilename
quintupleTorus-im.veg

*embeddedMeshFilename
../../models/selfIntersecting/quintupleTorus/quintupleTorus.obj

*embeddedMeshInterpolationFilename
quintupleTorus-im.interp

*numSolverThreads
3

*cameraLongitude
-116.15

*cameraLattitude
-7.50197

*cameraRadius
8.69725

*cameraFocusPosition
-0.0292761 -0.935047 0.0748465