*volumetricMeshFilename
torus-difficult-im.veg

*embeddedMeshFilename
../../models/selfIntersecting/torus/torus-difficult.obj

*embeddedMeshInterpolationFilename
torus-difficult-im.interp

*numSolverThreads
3

*cameraLongitude
-90

*cameraLattitude
0

*cameraRadius
48.4988

*cameraFocusPosition
1.70817 1.98932 -1.07034