*volumetricMeshFilename
torus-easy-im.veg

*embeddedMeshFilename
../../models/selfIntersecting/torus/torus-easy.obj

*embeddedMeshInterpolationFilename
torus-easy-im.interp

*numSolverThreads
3

*cameraLongitude
-90

*cameraLattitude
0

*cameraRadius
47.9588

*cameraFocusPosition
1.70817 2.7799 -0.590127