*volumetricMeshFilename
yeahright-im.veg

*embeddedMeshFilename
../../models/selfIntersecting/yeahright/yeahright-on-ground.obj

*embeddedMeshInterpolationFilename
yeahright-im.interp

*numSolverThreads
3

*cameraLongitude
-31.9251

*cameraLattitude
28.8394

*cameraRadius
22

*cameraFocusPosition
-0.989018 -6.32388 1.93762
